.tile-image{
    height: 370px;
}

.tile{
    background-color: #ffffff;
    box-shadow:rgba(0, 0, 0, 0.12) 0px 4px 12px 0px, rgba(0, 0, 0, 0.08) 0px 0px 2px 0px;
    border-radius: 16px;
    text-align: center;
    padding: 30px;
}

.body2{
    font-size: 16px;
    display: block;
    width: 600px;
}